@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

.album-container {
  text-align: center;
}

mat-card {
  cursor: pointer;
  width: 200px;
  height: 150px;
  text-align: left !important;
}

.background-color {
  background-color: green;
  color: white;
  font-weight: bold;
}

.album-container {
  width: 50%;
  margin: auto;
}

.ng-for-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}
